.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid #dddd;
    margin-bottom: 50px;
}

.header-item {
    list-style: none;
    font-size: 32px;
}

.header-item:not(:last-child) {
    margin-right: 100px;
}